* {
  transition: all 500ms ease-out;
  -webkit-transition: all 500ms ease-out;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

body {
    background-color: #222;
    color: #fff;
}
.row{
  max-width: 100%;
}
.main{
  position: relative;
  margin-left:80px;
  margin-top: 10%; 
  padding-right:0%;
}

.main .row div{
  padding-left:10%;
  min-width:560px;
  padding-right: 0px
}

h1{
  color: #fff;
    font-size: 65px;
    line-height: 53px;
    margin: 0;
    font-family: Sans-Serif;
    font-weight: 600;
}
h2{
  color: #8d8d8d;
  margin-top: 19px;
  font-weight: 400;
  font-size: 11px;
  font-family: "Open Sans",sans-serif;
  letter-spacing: 3px;
  -webkit-animation: myanim2 1s 1.8s backwards;
  animation: myanim2 1s 1.8s backwards;
}



h6 + p{
  margin-left: 3em;
}


.first-paragraph{
  margin-top:25px;
}

#myCanvas{
  width: 100%;
  min-width:500px;
}

.work{
  margin-top:5%;
  line-height: 2;
}
.asd{
  margin-top:0%;
  margin-left:0px;
}
hr{
  border-color:#08fdd8;
  margin-left:80px;
}
#myCanvasContainer{
  padding-left:0px;
}
@media (max-width: 960px){
  .main {
    margin-left:0;
    margin-top:80px;
  }
  .main .row div{
    padding-left:5%;
  }

  .asd{
    margin-top:80px;
  }

  hr{
    border-color:#08fdd8;
    margin-left:20px;
  }
}


